          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '1' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENTRADAS FRIAS        ____comidas_____01co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '2' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PICADAS               ____comidas_____02co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '3' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENTRADAS CALIENTES    ____comidas_____03co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '4' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> MILAS/SUPREMAS/FILET  ____comidas_____04co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '5' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENSALADAS             ____comidas_____05co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '6' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> TORTILLAS/ACOMPAÑAMI  ____comidas_____06co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '7' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PASTAS                ____comidas_____07co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '8' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> SALSAS                ____comidas_____08co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '9' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PARRILA               ____comidas_____09co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '10' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> EMPANADAS             ____comidas_____10co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '11' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PIZZAS                ____comidas_____11co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '12' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> POLLOS ESPECIALES     ____comidas_____12co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '13' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SANDWICH              ____comidas_____13co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '14' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> TAPAS                 ____comidas_____14co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '16' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MENU INFANTIL         ____comidas_____16co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
