          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '61' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS               ____bebidas_____61be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '63' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS BOTELLA/TIR  ____bebidas_____63be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '64' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS                 ____bebidas_____64be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '65' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CHAMPAGNE             ____bebidas_____65be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '66' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> TRAGOS                ____bebidas_____66be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/cerlo/snippet/<%= '67' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> WHISKY                ____bebidas_____67be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
